.controls-container {
    border-radius: 5px;
    background-color: #EBEBEC;
    width: 25%;
    max-width: 20em;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.controls-axis {
    display: inline-block;
    width: 49%;
}

.controls-table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.controls-table tr td:first-of-type {
    border-right: 2px solid grey;
}

.controls-table tr th:first-of-type {
    border-right: 2px solid grey;
}